<div class="container" id="about">
  <div class="section-heading text-center text-lg-start">
    <h2>A propos de moi</h2>
  </div>
  <div class="row gy-4">
    <div class="col-lg-5">
      <div class="about-left">
        <div class="about-avatar">
          <img src="assets/img/sane1.jpg" title="" alt="">
        </div>
        <h3>{{ name }}</h3>
        <p>{{ title }} <span>basé en</span> {{ location }}</p>
        <div class="btn-bar">
          <a class="px-btn" [href]="cvLink" target="_blank">
            Télécharger mon CV <i class="bi-download"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-7 ps-xl-5">
      <div class="about-bio">
        <p>{{ bio }}</p>
      </div>
      <div class="about-contact row gx-lg-5">
        <div class="col-sm-6">
          <p><i class="bi-phone"></i> <span>{{ phone }}</span> </p>
        </div>
        <div class="col-sm-6">
          <p><i class="bi-person"></i> <span>{{ name }}</span> </p>
        </div>
        <div class="col-sm-6">
          <p><i class="bi-envelope"></i> <span>{{ email }}</span> </p>
        </div>
        <div class="col-sm-6">
          <p><i class="bi-map"></i> <span>{{ location }}</span> </p>
        </div>
      </div>
      <div class="about-exp">
        <div class="row gy-4">
          <div class="col-md-5">
            <div class="a-number">
              <h6>{{ experienceYears }} + </h6>
              <span>Ans<br> d' experiences</span>
            </div>
            <p>{{ careerText }}</p>
          </div>
          <div class="col-md-7">
            <div class="a-number">
              <h6>Un vaste </h6>
              <span>domaine de <br>Compétences...</span>
            </div>
            <p class="lead">
              <li><strong>Front-end :</strong> {{ skills.frontend }}</li>
              <li><strong>Back-end :</strong> {{ skills.backend }}</li>
              <li><strong>Bases de données :</strong> {{ skills.databases }}</li>
              <li><strong>Méthodologies :</strong> {{ skills.methodologies }}</li>
              <li><strong>DevOps :</strong> {{ skills.devOps }}</li>
              <li><strong>Autres :</strong> {{ skills.other }}</li>
            </p>
          </div>
        </div>
        <blockquote>
          <i class="fa-solid fa-quote-left"></i>
          <p>{{ quote }}</p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
