#contact{
  background-color: darkgray;
}
.success-message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);  // Fond semi-transparent
  z-index: 1000;  // Pour être au-dessus des autres éléments
}

.success-message {
  background-color: #4CAF50;  // Couleur verte pour succès
  color: white;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

