<div class="container" id="contact">
    <div class="row gy-5">
      <div class="col-lg-5">
            <div class="section-heading">
                <h5>Contact</h5>
                <h2>Envoyez moi un message</h2>
            </div>
            <div class="contact-info">
                <ul>
                    <li>
                        <div class="icon">
                            <i class="bi-chat-left-dots-fill"></i>
                        </div>
                        <div class="text">
                            <label>Chattez avec moi</label>
                            <p>Je suis disponible à l'adresse email suivante : <span><a class="text-reset" href="mailto:bigsane25@gmail.com">bigsane25&#64;gmail.com</a></span></p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="bi-compass"></i>
                        </div>
                        <div class="text">
                            <label>Domicile</label>
                            <p> Je suis actuellement en région Parisienne. <br><span>dans la ville :  Le Blanc-Mesnil, 93150</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="bi-phone"></i>
                        </div>
                        <div class="text">
                            <label>Appelez moi </label>
                            <p>Je suis joignable au : <span>+33 677654238</span></p>
                        </div>
                    </li>
                </ul>
              <div class="google-map">
                <div class="ratio ratio-21x9">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.5482927648595!2d2.4642039!3d48.9231178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6135937141f8d%3A0x940b9b72d8b89ad8!2s93150%20Le%20Blanc-Mesnil%2C%20France!5e0!3m2!1sen!2sfr!4v1697829999999" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>

            </div>
        </div>
      <div class="col-lg-7 ps-xl-5">
        <div class="contact-form bg-g">
          <div class="contact-head">
            <h4>Vous avez une proposition? J'ai les compétences. Discutons en.</h4>
            <p>Donnez moi en quelques mot votre proposition et je vous reviens vite.</p>
          </div>

          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" id="contact-form" method="POST">
            <div class="row gx-3 gy-4">
              <!-- Nom et Prénom -->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Nom et Prénom</label>
                  <input formControlName="name" placeholder="Nom&Prénom *" class="form-control" type="text">
                  <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-danger">
                    Le nom est requis.
                  </div>
                </div>
              </div>

              <!-- Email -->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Email</label>
                  <input formControlName="email" placeholder="Email *" class="form-control" type="email">
                  <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-danger">
                    L'email est requis.
                  </div>
                </div>
              </div>

              <!-- Sujet -->
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Sujet</label>
                  <input formControlName="subject" placeholder="Sujet *" class="form-control" type="text">
                  <div *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched" class="text-danger">
                    Le Sujet est requis.
                  </div>
                </div>
              </div>

              <!-- Message -->
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label">Votre message</label>
                  <textarea formControlName="message" placeholder="Votre message *" rows="6" class="form-control"></textarea>
                  <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-danger">
                    Le message est requis.
                  </div>
                </div>
              </div>

              <!-- Bouton Envoyer -->
              <div class="col-md-12">
                <div class="send">
                  <button class="px-btn dark w-100" [disabled]="contactForm.invalid" type="submit">Envoyer le Message</button>
                </div>
              </div>
            </div>
          </form>

          <!-- Popin de succès -->
          <div *ngIf="isMessageSent" class="success-message-overlay">
            <div class="success-message">
              Message envoyé avec succès
            </div>
          </div>

        </div>
      </div>

    </div>
</div>
