<div class="container" id="home">
    <div class="row  min-vh-100 align-items-center">
        <div class="col-lg-7 col-xl-7 col-xxl-6">
            <div class="hb-text">
                <h1>Mon nom est <br><strong><span><b>Abdourahimi</b> <br> SANE</span></strong></h1>
                <p class="lead"><span>Développeur Full Stack </span> basé en  <span>Ile-De-France</span></p>
                <div class="btn-bar">
                    <a class="px-btn"  href="#contact">
                        Travaillez avec moi <i class="bi-arrow-up-right"></i>
                    </a>
                </div><br>

                <div class="btn-bar">
                  <a class="px-btn" href="assets/Files/CV-Abdourahimi-SANE.pdf" target="_blank">
                    Télécharger mon CV <i class="bi-download"></i>
                  </a>
                </div>
                <div class="info-bar">
                    <p><i class="bi-phone"></i> <span>+33 677654238</span></p>
                    <p><i class="bi-envelope"></i> <span>bigsane25@gmail.com</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hb-me" style="background-image: url(assets/img/file.png);"></div>
<div class="social-fix">
    <div class="social-links">
        <a href="https://www.linkedin.com/in/bigsane25/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
</div>
